<h1>{{title}}</h1>

<p>Title - {{song.title}}</p>
<p>Artist - {{song.artist}}</p>
<p>Release Year - {{song.song_release_date}}</p>
<p>Tuning - {{song.tuning}}</p>
<p>Pack - {{song.pack_name}}</p>
<p>DLC Release Date - {{song.dlc_release_date}}</p>
<p>Riff Repeater Guitar Video - {{song.rr_guitar_link}}</p>
<p>Riff Repeater Bass Video - {{song.rr_bass_link}}</p>
<p>Steam Store - {{song.steam_purchase_link}}</p>


<a href="/songs">All Songs</a>
