<h1>{{song.title}} by {{song.artist}}</h1>

<table class="table table-striped" id="song-table">
  <tr>
    <td>Release Year</td>
    <td>{{song.song_release_year}}</td>
  </tr>
  <tr>
    <td>Tuning</td>
    <td>{{song.tuning}}</td>
  </tr>
  <tr>
    <td>Pack Name</td>
    <td>{{song.pack_name}}</td>
  </tr>
  <tr>
    <td>DLC Release Year</td>
    <td>{{song.dlc_release_date}}</td>
  </tr>
  {{#if song.rr_guitar_link}}
  <tr>
    <td>Riff Repeater Guitar Video</td>
    <td><iframe width="560" height="315" src="{{song.rr_guitar_link}}" frameborder="0" allowfullscreen></iframe></td>
  </tr>
  {{/if}}
  {{#if song.rr_bass_link}}
  <tr>
    <td>Riff Repeater Bass Video</td>
    <td><iframe width="560" height="315" src="{{song.rr_bass_link}}" frameborder="0" allowfullscreen></iframe></td>
  </tr>
  {{/if}}
  {{#if song.steam_purchase_link}}
  <tr>
    <td><a href="{{song.steam_purchase_link}}">Purcahse on Steam</a></td>
    <td></td>
  </tr>
  {{/if}}
</table>
<a href="/songs/{{song._id}}/edit"><button class="btn btn-primary">Edit</button></a>
